<center><font color=#555555><font size=6> MAF1731 - Microstructure and Trading Systems </font> <br> <br>
    
<center><font color=#555555><font size=5> B.Eng Financial Engineering </font> <br> <br> <br> <br>

<center><font color=#555555><font size=5> Oscar Uriel Alvarado Garnica </font> <br> <br> <br> <br>
   
<center> <font color= #555555> <font size = 4> Jul 2023 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/Oscar148/myst-734194-lab2'>Link</a></font>

<center> <font color= #555555> <font size = 6> Module 2 </font> <br> <br> <font color= #555555> <font size = 5>  Module 2: DeFi Liquidity Pools </font>

# <br> <font color= #6B6B6B> 1. Introduction </font>
<hr style="border:0.02in solid gray"> </hr>


This notebook is provided as a case study of financial assets based on Liquidity Pools. A case between WETH/USDC will be analyzed, using different metrics and some model for the traded price

# <br> <font color= #6B6B6B> 2. Deliverable content </font>
<hr style="border:0.02in solid gray"> </hr>

### Swaps Metrics
*Using all data points, produce de following table (almost similar to Lab1)*

In [1]:
import pandas as pd
import datetime
import os
import sys
import json
import numpy as np

In [2]:
with open('uniswapv3_all_swaps_sqrtPriceX96.json', 'r') as archivo:
    json_data = json.load(archivo)

In [3]:
price_wethusdc = []
for i in range(0,len(json_data)):
    data = json_data[i]
    price96 = float(data["sqrtPriceX96"])
    price1 = (price96 / (2**96)) ** 2
    decimals_weth = 10e18
    decimals_usdc = 10e6
    decimals_wethusdc = int(decimals_weth / decimals_usdc)
    price = decimals_wethusdc / price1
    price_wethusdc.append(price)
    i = i+1

In [4]:
nt = []
for i in range(len(json_data)):
    t = json_data[i]['timestamp']
    nt.append(t)
    i = i+1

In [5]:
volume_quote = []
for i in range(len(json_data)):
    t = json_data[i]['amount0']
    volume_quote.append(t)
    i = i+1

In [6]:
volume_base = []
for i in range(len(json_data)):
    t = json_data[i]['amount1']
    volume_base.append(t)
    i = i+1

In [7]:
df_swaps = pd.DataFrame({
                    'id': range(1, len(json_data) + 1),
                    'timestamp': pd.to_datetime((nt), unit='s'),
                    'weth/usdc': price_wethusdc,
                    'symbol_quote': 'USDC',
                    'volume_quote': (volume_quote),
                    'symbol_base': 'WETH',
                    'volume_base': (volume_base)
                    })

In [8]:
df_swaps['volume_quote'] = pd.to_numeric(df_swaps['volume_quote'])
df_swaps['volume_base'] = pd.to_numeric(df_swaps['volume_base'])

In [9]:
def swap(valor):
    if valor > 0:
        return 'buy'
    else:
        return 'sell'

df_swaps['swap'] = df_swaps['volume_base'].apply(swap)

In [10]:
def swap_detail(valor):
    if valor > 0:
        return 'Swap USDC for WETH'
    else:
        return 'Swap WETH for USDC'

df_swaps['swap_detail'] = df_swaps['volume_base'].apply(swap_detail)

In [11]:
df_swaps

,id,timestamp,weth/usdc,symbol_quote,volume_quote,symbol_base,volume_base,swap,swap_detail
0,1,2023-06-01 00:00:23,1874.417570,USDC,-3583.553007,WETH,1.912773,buy,Swap USDC for WETH
1,2,2023-06-01 00:00:35,1874.988213,USDC,187564.069033,WETH,-100.000000,sell,Swap WETH for USDC
2,3,2023-06-01 00:00:47,1875.022104,USDC,11138.647175,WETH,-5.937625,sell,Swap WETH for USDC
3,4,2023-06-01 00:01:35,1875.026520,USDC,1929.524425,WETH,-1.028552,sell,Swap WETH for USDC
4,5,2023-06-01 00:01:35,1875.020649,USDC,-477.891385,WETH,0.255000,buy,Swap USDC for WETH
...,...,...,...,...,...,...,...,...,...
130786,130787,2023-06-30 23:58:35,1933.301967,USDC,-472869.769026,WETH,244.635664,buy,Swap USDC for WETH
130787,130788,2023-06-30 23:58:47,1932.809659,USDC,-750.000000,WETH,0.388230,buy,Swap USDC for WETH
130788,130789,2023-06-30 23:58:47,1932.811571,USDC,-192377.995882,WETH,99.569882,buy,Swap USDC for WETH
130789,130790,2023-06-30 23:58:59,1932.808683,USDC,-382.987828,WETH,0.198250,buy,Swap USDC for WETH
130790,130791,2023-06-30 23:59:23,1932.809195,USDC,201.013087,WETH,-0.103948,sell,Swap WETH for USDC

In [12]:
df_swaps.head(10)

,id,timestamp,weth/usdc,symbol_quote,volume_quote,symbol_base,volume_base,swap,swap_detail
0,1,2023-06-01 00:00:23,1874.417570,USDC,-3583.553007,WETH,1.912773,buy,Swap USDC for WETH
1,2,2023-06-01 00:00:35,1874.988213,USDC,187564.069033,WETH,-100.000000,sell,Swap WETH for USDC
2,3,2023-06-01 00:00:47,1875.022104,USDC,11138.647175,WETH,-5.937625,sell,Swap WETH for USDC
3,4,2023-06-01 00:01:35,1875.026520,USDC,1929.524425,WETH,-1.028552,sell,Swap WETH for USDC
4,5,2023-06-01 00:01:35,1875.020649,USDC,-477.891385,WETH,0.255000,buy,Swap USDC for WETH
5,6,2023-06-01 00:01:59,1875.056222,USDC,9761.999255,WETH,-5.203682,sell,Swap WETH for USDC
6,7,2023-06-01 00:02:23,1875.053104,USDC,-1024.427800,WETH,0.546619,buy,Swap USDC for WETH
7,8,2023-06-01 00:03:11,1875.252836,USDC,65641.740234,WETH,-34.988569,sell,Swap WETH for USDC
8,9,2023-06-01 00:03:23,1875.843826,USDC,-674.753105,WETH,0.359886,buy,Swap USDC for WETH
9,10,2023-06-01 00:03:23,1875.845880,USDC,194883.249144,WETH,-103.855337,sell,Swap WETH for USDC

In [13]:
df_swaps.tail(10)

,id,timestamp,weth/usdc,symbol_quote,volume_quote,symbol_base,volume_base,swap,swap_detail
130781,130782,2023-06-30 23:58:23,1937.142128,USDC,-2.767320e+06,WETH,1426.493917,buy,Swap USDC for WETH
130782,130783,2023-06-30 23:58:23,1934.698157,USDC,-9.022365e+05,WETH,466.285800,buy,Swap USDC for WETH
130783,130784,2023-06-30 23:58:23,1934.544837,USDC,-5.820415e+04,WETH,30.100600,buy,Swap USDC for WETH
130784,130785,2023-06-30 23:58:23,1944.660782,USDC,1.546926e+06,WETH,-795.927549,sell,Swap WETH for USDC
130785,130786,2023-06-30 23:58:23,1940.488799,USDC,2.764096e+06,WETH,-1426.493917,sell,Swap WETH for USDC
130786,130787,2023-06-30 23:58:35,1933.301967,USDC,-4.728698e+05,WETH,244.635664,buy,Swap USDC for WETH
130787,130788,2023-06-30 23:58:47,1932.809659,USDC,-7.500000e+02,WETH,0.388230,buy,Swap USDC for WETH
130788,130789,2023-06-30 23:58:47,1932.811571,USDC,-1.923780e+05,WETH,99.569882,buy,Swap USDC for WETH
130789,130790,2023-06-30 23:58:59,1932.808683,USDC,-3.829878e+02,WETH,0.198250,buy,Swap USDC for WETH
130790,130791,2023-06-30 23:59:23,1932.809195,USDC,2.010131e+02,WETH,-0.103948,sell,Swap WETH for USDC

In [15]:
df_final = pt_metrics(data=df_swaps)

In [16]:
df_final

                      metric               value
0              Average price           $1,816.68
1        Total Traded Tolume  7,356,833,466.3087
2           Max Traded Price           $1,944.66
3           Min Traded Price           $1,623.58
4   Max Traded Volume (Base)             4,152.0
5  Max Traded Volume (Quote)      5,969,016.9781
6   Min Traded Volume (Base)         -3,430.7212
7  Min Traded Volume (Quote)     -7,751,942.7944
8                 Buy Trades            64,088.0
9                Sell Trades            66,703.0

### Does the price follow a martingale process ?

**Pt = E [Pt+1] ≡ E [Pt+1] = Pt**

In [17]:
price_mg = [ ]
for i in range(len(json_data)):
    precios = json_data[i]['pool']["token0Price"]
    price_mg.append(precios)
    i = i+1
price_mg = list(map(float, price_mg))

In [18]:
price_e = sum(price_mg) / len(price_mg)

In [19]:
if price_e == price_mg[-1]:
    print("The price follows a martingale process")
else:
    print("The price does not follow a martingale process")

The price does not follow a martingale process

# <font color= #6B6B6B> <font size = 6> Conclusion </font>
<hr style="border:0.02in solid gray"> </hr>

With this laboratory I learned about tools that are currently used, such as smart contracts and liquidity pools. They are financial / technological instruments of which I didn't have much knowledge, but which are really very useful, since they help to meet conditions, without someone verifying, or generate liquidity in the market.
I also continue to learn more about microstructures, and how, being things that happen in microseconds, they influence mathematical models. For example, make dividends equal to zero.

# <font color= #6B6B6B> <font size = 6> References </font>
<hr style="border:0.02in solid gray"> </hr>

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).